name: Build Appimage

on:
  push:
    branches: [main]
    paths-ignore:
      - '**/*.md'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Installing Deps
        run: sudo apt install -y curl fuse libfuse2

      - name: Build Appimage
        run: chmod +x ./buildapp.sh && ./buildapp.sh --no-cleanup
      
      - name: Upload Release
        uses: xresloader/upload-to-github-release@v1
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          file: "dist/*"
          tags: true
          draft: true
